﻿@using CorvallisOR.Models;
@model IEnumerable<News>
@{
    ViewBag.Title = "Today's News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (News n in Model)
{
    <h3>@n.Title</h3>
    <p>@n.Date</p>
    <p>@n.Story</p>
}