﻿@{
    ViewBag.Title = "About";
}
    <h3>@ViewBag.Message</h3>
    <p>
        Corvallis is nestled in the heart of Oregon's Willamette Valley, within 90 minutes of the Portland Metropolitan area, world class skiing, and the spectacular Oregon coast. Corvallis has a residential population of 57,390 and is home to Oregon State University.

        We are an award-winning City that has been recognized as one of the best college towns, one of the top ten places to live, and as having the highest Peace Corps volunteers per capita, the most green buildings per capita, and was ranked #1 in patents per capita. The City was recognized for exceeding standards established by the International City Manager’s Association Center for Performance Measurement and was ranked #1 on the Environmental Protection Agency's national list of Green Power Communities. Our 2020 Vision Statement, developed with extensive citizen input, provides a blueprint for our community. These are just a few examples of why we are a one-of-a-kind community that is sure to capture your heart!
    </p>