﻿@{
    ViewBag.Title = "Contact";
}

<address>
    City Hall 
    </br>
    501 SW Madison Ave.
    </br>
    Corvallis, OR 97330
    </br></br>
    PO Box 1083
    </br>
    Corvallis, OR 97339-1083
    </br></br>
    541-766-6900 
</address>

<address>
    <a href="mailto:mayorandcitycouncil@council.corvallisoregon.gov">Corvallis City Council</a><br />
    <a href="http://www.corvallisoregon.gov/index.aspx?page=123">City Directory</a><br />
</address>